# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# A workflow that runs tests on every new pull request
name: Run instrumentation tests

on:
  repository_dispatch:
    types: [test]
  push:
    branches-ignore: ['gh-pages']
  pull_request:
    branches-ignore: ['gh-pages']
  workflow_dispatch:

jobs:
  run-instrumentation-test:
    runs-on: macOS-latest-large # enables hardware acceleration in the virtual machine
    permissions:
      pull-requests: write
    timeout-minutes: 30
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Gradle Wrapper Validation
      uses: gradle/actions/wrapper-validation@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v4.2.1
      with:
        java-version: '17'
        distribution: 'adopt'

    - name: Inject Maps API Key
      env:
        MAPS_API_KEY: ${{ secrets.ACTIONS_API_KEY }}
      run: |
        [ -z "$MAPS_API_KEY" ] && MAPS_API_KEY="YOUR_API_KEY"; echo "MAPS_API_KEY=$MAPS_API_KEY" >> ./local.properties

    - name: Build debug
      run: ./gradlew assembleDebug

    - name: Run instrumentation tests
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 29
        target: google_apis
        arch: x86
        disable-animations: true
        script: ./gradlew createDebugCoverageReport --stacktrace

    - name: Jacoco Report to PR
      id: jacoco
      uses: madrapps/jacoco-report@v1.6
      with:
        paths: |
          ${{ github.workspace }}/app/build/reports/coverage/androidTest/debug/connected/report.xml
        token: ${{ secrets.SYNCED_GITHUB_TOKEN_REPO }}
        min-coverage-overall: 26
        min-coverage-changed-files: 60
        title: Code Coverage
        debug-mode: false
        update-comment: true

    - name: Get the Coverage info
      run: |
            echo "Total coverage ${{ steps.jacoco.outputs.coverage-overall }}"
            echo "Changed Files coverage ${{ steps.jacoco.outputs.coverage-changed-files }}"

    - name: Upload test reports
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-reports
        path: ./app/build/reports
