# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# A workflow that runs tests on every new pull request
name: Run instrumentation tests

on:
  repository_dispatch:
    types: [test]
  push:
    branches-ignore: ['gh-pages']
  pull_request:
    branches-ignore: ['gh-pages']
  workflow_dispatch:

jobs:
  run-instrumentation-test:
    runs-on: macOS-latest # enables hardware acceleration in the virtual machine
    timeout-minutes: 30
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Gradle Wrapper Validation
      uses: gradle/wrapper-validation-action@v3.3.1

    - name: Set up JDK 17
      uses: actions/setup-java@v2.3.1
      with:
        java-version: '17'
        distribution: 'adopt'

    - name: Inject Maps API Key
      env:
        MAPS_API_KEY: ${{ secrets.ACTIONS_API_KEY }}
      run: |
        [ -z "$MAPS_API_KEY" ] && MAPS_API_KEY="YOUR_API_KEY"; echo "MAPS_API_KEY=$MAPS_API_KEY" >> ./local.properties

    - name: Build debug
      run: ./gradlew assembleDebug

    - name: Run instrumentation tests
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 29
        target: google_apis
        arch: x86
        disable-animations: true
        script: ./gradlew :app:connectedCheck --stacktrace

    - name: Upload test reports
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: test-reports
        path: ./app/build/reports
